<!-- common layer on each page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style.css">
    

    <title>{% block title %}epaData{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='js/css/style.css') }}">

</head>

<body>

    <!-- top navigation -->
    <nav>
        <h1>Data Overview</h1>
        <div class="welcome-bar">
            <!-- *** Can add a variable for the username HERE *** -->
            <h1>Welcome!</h1> 
        </div>
        <a href="/login">Login</a>
    </nav>


    <!-- Page-specific content goes here -->
    <main>
        {% block content %}
        {% endblock %}
    </main>


    <!-- sidebar -->
    <div class="sidebar"> 
        <!-- logo -->
        <br>
        <a href="{{ url_for('main.home') }}">
            <img src="{{ url_for('static', filename='EPALogo.png') }}"
                alt="EPA Logo"
                width="200"
                height="140">
        </a>

        <!-- links to the other web pages go here -->
        <div class="sideText">
            <br>
            <a href="{{ url_for('main.search') }}">
                Search Database
            </a>
            <br>
            <a href="{{ url_for('main.data_explorer') }}">
                Data Explorer
            </a>
            <br>
            <a href="{{ url_for('main.upload') }}">
                Data Upload
            </a>
            <br>
            <a href="/download">
                Data Download
            </a>
            <!--<br>
            <a href="/edits">Edit Data</a> --> <!-- ADMINS ONLY -->
        </div>

        <!-- logout button -->
        <div class="logout">
            <a href="/logout">logout</a>
        </div>

    </div>

    <footer>
        epaData — EPA Data Management, Evaluation, and Visualization System
    </footer>


    <!-- OLD VERSION

    <header>
        <nav class="navbar">

            <div class="nav-container">

                <a href="{{ url_for('main.home') }}">
                    Home
                </a>

                <a href="{{ url_for('main.upload') }}">
                    EPA Retrieval Upload
                </a>

                <a href="{{ url_for('explorer.explorer') }}">
                    Data Explorer
                </a>

                <a href="#">
                    Download
                </a>
                </div>

            </div>

        </nav>
    </header>

    -->

    <!-- sidebar -->
    <!--
    <div class="sidebar"> 
        <a href="{{ url_for('main.home') }}">
            <img src="{{ url_for('static', filename='EPALogo.png') }}"
                alt="EPA Logo"
                width="200"
                height="140">
        </a>
         <br>
         <a href="{{ url_for('main.search') }}">Search</a>
         <br>
         <a href="/display">Data Display</a>
         <br>
         <a href="/download">Data Download</a>
         <br>
         <a href="/upload">Upload Data</a>
         <br>
         <a href="/edits">Edit Data</a>

         <div class="logout">
            <a href="/logout">logout</a>
         </div>

    </div>

    <footer>
        epaData — EPA Data Management, Evaluation, and Visualization System
    </footer>

    OLD VERSION END -->

</body>
</html>
