{% extends "base.html" %}

{% block title %}
Search | epaData
{% endblock %}

{% block content %}

<div class="hero">

    <h1>Search Database</h1>
    <p>Search for records in the EPA database.</p>
    
    <br>
    <br>


    <!-- Search Bar -->
    <form method="GET" action="{{ url_for('main.search') }}">

        <input
            type="text"
            name="query"
            value="{{ query }}"
            placeholder="Search facilities, units, years, fuels..."
        >

        <button type="submit">Search</button>

    </form>


    <br>
    <br>

    <div class="pages">
        <!-- Search Results -->
        <h2>Search Results</h2>

            {% if results %}

            <p>
                Found {{ results|length }} result(s) for
                "<strong>{{ query }}</strong>"
            </p>

            {% for record in results %}

                <div class="search-result">

                    <h3>
                        {{ record.unit.facility.facility_name }}
                    </h3>

                    <p>
                        <strong>EPA Facility ID:</strong>
                        {{ record.unit.facility.epa_facility_id }}
                    </p>

                    <p>
                        <strong>State:</strong>
                        {{ record.unit.facility.state }}
                    </p>

                    <p>
                        <strong>Unit ID:</strong>
                        {{ record.unit.epa_unit_id }}
                    </p>

                    <p>
                        <strong>Unit Type:</strong>
                        {{ record.unit.unit_type }}
                    </p>

                    <p>
                        <strong>Primary Fuel:</strong>
                        {{ record.unit.primary_fuel }}
                    </p>

                    <p>
                        <strong>Reporting Year:</strong>
                        {{ record.reporting_year }}
                    </p>

                    <p>
                        <strong>CO₂:</strong>
                        {{ record.co2_mass }}
                    </p>

                    <p>
                        <strong>SO₂:</strong>
                        {{ record.so2_mass }}
                    </p>

                    <p>
                        <strong>NOx:</strong>
                        {{ record.nox_mass }}
                    </p>

                    <hr>

                </div>

            {% endfor %}

        {% else %}

            <p>
                No results found for
                "<strong>{{ query }}</strong>".
            </p>

        {% endif %}

    </div>

</div>

{% endblock %}